#main-contact-form
{
	background-color: #baeaf3;
	position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0px;
  margin: 30px;

}
#send2
{
background: #77aadd;
    border: 1px solid #3674ab;
    width: 50%;
    margin-left: 97px;
    color: white;
    padding: 0px;
}
input, textarea
{
	width:95%;
}
#name1, #email1, #phone1
{
padding: 5px;	
}
#facebook:hover
{
text-decoration:none;
}
#twitter:hover
{
text-decoration:none;
}
#youtube:hover
{
text-decoration:none;
}
#instagram
{

text-decoration:none;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #3d81be;
	background-color: #ffffff0d;
    border-bottom: 2px solid orange;
	
	
}
.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
	text-transform: uppercase;
	font-size:16px;
	font-weight: 700;
    
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
     color: orange; 
    background-color: transparent;
}
h1,h2,h3,h4,h5,h6,span,p,ul,li,a
{
text-decoration: none;
font-family: "Arial", Calibri, sans-serif;
 color: #767676;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: black;
    cursor: default;
    background-color: #fff;
    border: 0px solid #5b85b5;
    border-bottom-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: black;
    cursor: default;
    background-color: #fff;
    border: 1px solid #5b85b5;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid #5983b3;
}

footer
{
	background:black;
	padding:20px;
}
.footer_p2
{
	text-align: center;
    font-size: 20px;
}
footer .footer_menu li
{
	font-size: 16px;
    line-height: 30px;
	display: inline;
    border-right: 2px solid #767676;
    padding: 8px;
}
footer .footer_social li
{
	font-size: 16px;
    line-height: 30px;
	display: inline;
	padding: 8px;
	text-transform: uppercase;
}
footer .footer_menu li .footer_a
{
color:white;
}
.fa
{
	font-size: 57px;
}
footer a:hover
{
	text-decoration:none;
	
}

/*-- /services --*/

.services {
	padding: 7em 0;
}

.icon_info h5 {
	font-size: 1.2em;
	color: #333;
	margin: 1em 0;
	font-weight: 600;
}

.icon_info {
	text-align: center;
}

.icon_info {
	text-align: left;
	padding: 4em 2em;
	border: 3px solid #f5f5f5;
	background-color: #f5f5f5;
	transition: all 0.3s ease-out 0s;
}

.grid_info_main.mid {
	margin-top: 3em;
}

.grid_info_main i {
	font-size: 2em;
	color: #03cce6;
}

.grid_info.second {
	margin-top: 1.5em;
}

.grid_info_main.mid img {
	width: 100%;
}

/*-- //services --*/

.style-grids_main {
	margin: 0;
}

.style-image-2 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/mission1.jpg) no-repeat;
	background-size: cover;
	min-height: 600px;
}

.style-image-2.second {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/vission1.jpg) no-repeat;
	background-size: cover;
	min-height: 600px;
}

.grid_sec_info {
	padding: 8em 6em 6em 6em;
	background: #f5f5f5;
}

.style-grid-2-text_info p {
	margin: 2em 0;
}

.grid_sec_info h3 {
	font-size: 1.6em;
	line-height: 1.6em;
}

/*-- stats --*/

.stats_left p {
	font-size: 3em;
	font-weight: 100;
	letter-spacing: 1px;
	color: #fff;
	line-height: 2em;
}

.stats_left h4 {
	font-size: 1.1em;
	color: #f7f7f7;
	margin: 0;
	font-weight: 600;
	letter-spacing: 1px;
}

.stats_left i
 {
	font-size: 3em;
	color: rgba(34, 34, 34, 0.45);
	margin: 0;
}

.stats_bottom_grid_left img {
	margin: 0 auto;
}

.stats_left.counter_grid {
	background: #76daff;
}

.stats_left.counter_grid1 {
	background: #ff3c41;
}

.stats_left.counter_grid2 {
	background: #fcd000;
}

.stats_left.counter_grid3 {
	background: #47cf73;
}

.stats_left {
	text-align: center;
	float: left;
	width: 25%;
	border: 1px solid rgba(49, 48, 48, 0.18);
	padding: 4em 1em;
	border-top: none;
	border-bottom: none;
}

.stats_left:nth-child(3) {
	border-right: 0px;
}

.stats_left:nth-child(2) {
	border-left: 0px;
	border-right: 0px;
}
